@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
  }

  @font-face {
      font-family: 'asiyah';
      src: url('fonts/AsiyahScript.ttf') format('truetype');
    }



#capa{
    background: #2acac0;
    background: -moz-linear-gradient(45deg,  #2acac0 2%, #0c566a 79%, #0c566a 79%, #0c566a 100%);
    background: -webkit-linear-gradient(45deg,  #2acac0 2%,#0c566a 79%,#0c566a 79%,#0c566a 100%);
    background: linear-gradient(45deg,  #2acac0 2%,#0c566a 79%,#0c566a 79%,#0c566a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2acac0', endColorstr='#0c566a',GradientType=1 );

    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.7;
}

.floating{
        float: left;
        -webkit-animation-name: Floatingx;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-name: Floating;
        -moz-animation-duration: 5s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: ease-in-out;
        margin-top: 5px;
    }

    @-webkit-keyframes Floatingx{
        from {-webkit-transform:translate(0, 0px);}
        65% {-webkit-transform:translate(0, 10px);}
        to {-webkit-transform: translate(0, -0px);    }
    }

    @-moz-keyframes Floating{
        from {-moz-transform:translate(0, 0px);}
        65% {-moz-transform:translate(0, 10px);}
        to {-moz-transform: translate(0, -0px);}
    }

#conteudo{
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;

    #logo-container{
    padding: 128px 0 0 0;
    width: 100%;
        #logo{
            width: 30%;
            @media screen and (max-device-width: 850px) {
                width: 70%;
            }
        }
    }

    .chamada{
      padding-top: 32px;
      p{
        font-size: 18px;
        font-family: 'roboto';
        color: white;
        text-align: center;
      }
    }

    #rodape{
        width: 100%;
        position: absolute;
        bottom: 32px;
        left: 0;
        text-align: center;
        color: white;

        a{
          color: white;
          font-family: 'roboto';
          text-decoration: underline;
        }

        .glyphicon{
            color: rebeccapurple;
        }
    }

}

#conteudo2{
  padding: 32px 32px 32px 32px;

  .heading{
    font-family: 'roboto';
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: #0c566a;
    padding-bottom: 32px;
  }
}
